.maryjane{
    background-size: cover;
    width: auto;
    min-height: calc(100vh - 60px);
    background-image: url('../../assets/ganja.png');
    background-size: 40px, 40px;
    background-repeat: repeat;
    background-color: #004900;
}

nav {
    background-color: lightgreen;
}