.dotActive {
    height: 17px;
    width: 17px;
    background-color: lightgreen;
    border-radius: 50%;    
}

.dotInactive {
    height: 17px;
    width: 17px;
    background-color: red;
    border-radius: 50%;
}